---
import ResourcesCounter from "@/components/resources-counter.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout mainClass="h-full" title="DevPlace - Free Developer Resources">
  <!-- Hero -->
  <section
    class="hero animate-fade-in-up flex flex-col h-screen justify-center w-full items-center pb-12 pt-16 lg:py-28 px-8 text-center"
  >
    <h1
      class="md:text-6xl font-heading text-5xl font-bold bg-gradient-to-br from-neutral-900 to-neutral-950 dark:from-neutral-300 dark:to-neutral-200 bg-clip-text text-transparent"
    >
      [DevPlace]
    </h1>
    <p class="md:text-xs md:w-80 text-neutral-400 text-xs">
      Your trusted hub for <span class="font-bold">Free</span> developer resources.
      Discover tutorials, documentation, code libraries, tools, and developer communities,
      all in one place.
    </p>

    <ResourcesCounter />

    <a
      href="https://github.com/yossTheDev/devplace?tab=readme-ov-file#-how-to-contribute"
      target="_blank"
      class="flex ring-2 mx-auto mt-3 px-4 bg-blue-500 hover:bg-blue-500 transition-all hover:ring-4 hover:text-white text-white font-bold text-sm justify-center items-center w-fit rounded-full p-2"
      >Submit</a
    >
  </section>

  <!-- Items -->
  <section class="flex h-full mb-2">
    <style>
      .hero:is(.dark *) {
        background: url("../assets/img/ssspiral2.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      .hero {
        background: url("../assets/img/ssspiral3.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      @media (min-width: 768px) {
        .hero:is(.dark *) {
          background: url("../assets/img/ssspiral2.svg");
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 50%;
        }

        .hero {
          background: url("../assets/img/ssspiral3.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-size: 50%;
          background-position: 50%;
        }
      }
    </style>
  </section>
</MainLayout>
