---
import { CategoryCard } from "@/components/cards/category-card";
import ResourcesCounter from "@/components/resources-counter.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout mainClass="h-full" title="DevPlace - Free Developer Resources">
  <!-- Hero -->
  <section
    class="hero animate-fade-in-up flex flex-col h-screen justify-center w-full items-center pb-12 pt-16 lg:py-28 px-8 text-center"
  >
    <h1
      class="md:text-6xl font-heading text-5xl font-bold bg-gradient-to-br from-neutral-900 to-neutral-950 dark:from-neutral-300 dark:to-neutral-200 bg-clip-text text-transparent"
    >
      [DevPlace]
    </h1>
    <p class="md:text-xs md:w-80 text-neutral-400 text-xs">
      Your trusted hub for <span class="font-bold">Free</span> developer resources.
      Discover tutorials, documentation, code libraries, tools, and developer communities,
      all in one place.
    </p>

    <ResourcesCounter />

    <a
      href="https://github.com/yossTheDev/devplace?tab=readme-ov-file#-how-to-contribute"
      target="_blank"
      class="flex ring-2 mx-auto mt-3 px-4 bg-blue-500 hover:bg-blue-500 transition-all hover:ring-4 hover:text-white text-white font-bold text-sm justify-center items-center w-fit rounded-full p-2"
      >Submit</a
    >
  </section>

  <!-- Categories -->
  <p class="font-heading py-4 px-6 text-2xl">Categories</p>
  <section class="flex gap-2 h-full mb-2 flex-wrap justify-stretch p-4">
    <CategoryCard
      title="Web"
      description="Free Resources for Web Developers. Icons, Templates, Design Systems and More."
      href="/web"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-globe"
        ><circle cx="12" cy="12" r="10"></circle><path
          d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path><path
          d="M2 12h20"></path></svg
      >
    </CategoryCard>

    <CategoryCard
      title="Cloud"
      description="Free Cloud Resources. Hosting, BaaS, Domains and More"
      href="/web"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-cloudy"
        ><path d="M17.5 21H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"
        ></path><path d="M22 10a3 3 0 0 0-3-3h-2.207a5.502 5.502 0 0 0-10.702.5"
        ></path></svg
      >
    </CategoryCard>
  </section>
</MainLayout>

<style>
  .hero:is(.dark *) {
    background: url("../assets/img/ssspiral2.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero {
    background: url("../assets/img/ssspiral3.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .hero:is(.dark *) {
      background: url("../assets/img/ssspiral2.svg");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: 50%;
    }

    .hero {
      background: url("../assets/img/ssspiral3.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 50%;
      background-position: 50%;
    }
  }
</style>
