---
import cloud from "../../resources/cloud.json";
import web from "../../resources/web.json";

let count = 0;

Object.entries(cloud).map((item) => (count += item[1].length));
Object.entries(web).map((item) => (count += item[1].length));
---

<div
  class="flex shadow p-2 px-4 mt-4 rounded-full dark:bg-neutral-900 bg-neutral-200"
>
  <p>Up to {count} Resources</p>
</div>
