---
import { Image } from "astro:assets";
import { getMetaTags } from "../util/metadata";

type Props = {
  url: string;
};

const { url } = Astro.props;

let data;

try {
  data = await getMetaTags(url);
} catch (err) {
  data = {
    title: "",
    description: "",
    keywords: "",
    author: "",
    favicon: "",
    ogTitle: "",
    ogDescription: "",
    ogImage: "",
    ogUrl: "",
  };
}

let _url = url.replace("https://", "").replace("http://", "");
if (_url.endsWith("/")) _url = _url.substring(0, _url.length - 1);
---

<a
  href={url}
  class="flex w-full gap-3 rounded-xl p-2 transition-all delay-75 hover:bg-neutral-400/20"
>
  <!-- Image -->
  <div class="relative flex">
    {
      data.ogImage ? (
        <Image
          class="w-28 min-w-28 h-16 self-center rounded"
          width={300}
          height={150}
          alt={data.title! + " landing image"}
          src={
            data.ogImage?.startsWith("/")!
              ? `${url + data.ogImage}`
              : data.ogImage
          }
        />
      ) : (
        <div class="max-h-16 flex items-center justify-center min-w-24 w-28 h-16 dark:bg-neutral-900 bg-neutral-200 dark:text-neutral-700 text-neutral-500 self-center rounded">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-globe"
          >
            <>
              <circle cx="12" cy="12" r="10" />
              <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20" />
              <path d="M2 12h20" />
            </>
          </svg>
        </div>
      )
    }

    {
      data.favicon && (
        <img
          class="absolute -left-3 -top-1 size-8 max-h-8 min-w-8 rounded-full bg-white p-2"
          width={50}
          height={50}
          loading="lazy"
          alt={data.title! + " favicon image"}
          src={
            data.favicon.startsWith("/")
              ? `${url + data.favicon}`
              : data.favicon
          }
        />
      )
    }
  </div>

  <!-- Description -->
  <div class="flex flex-col justify-center">
    <p class="text-xs font-bold md:text-xl">
      {data.ogTitle != "" ? data.ogTitle : data.title}
    </p>
    <p class="line-clamp-2 text-xs md:line-clamp-none md:text-sm">
      {data.description != "" ? data.description : data.description}
    </p>
    <p class="text-neutral-400 text-xs md:text-sm">{_url}</p>
  </div>
</a>
