---
import SiteGroup from "./site-group.astro";

type Props = {
  title: string;
  description: string;
  data: any;
};

const { title, data, description } = Astro.props;
---

<div class="flex flex-col gap-1">
  <h1
    id={title.replace(" ", "-")}
    class="md:text-3xl font-heading text-2xl mt-12 font-bold px-4"
  >
    {title}
  </h1>

  <h2 class="px-4 md:text-sm dark:text-neutral-300 text-neutral-800">
    {description}
  </h2>

  {
    Object.entries(data).map((item, index) => (
      <>
        <SiteGroup data={item[1] as string[]} label={item[0]} />
      </>
    ))
  }
</div>
