---
import SiteItem from "./site-item.astro";

type Props = {
  label: string;
  data: string[];
};

const { label, data } = Astro.props;
---

<div id={label.replace(" ", "-")} class="items-section flex flex-col gap-2">
  <p
    class="text-xl border-b font-bold mr-4 bg-background h-fit p-4 md:top-18 top-16 z-30 -mx-2 shrink-0 sticky block w-full"
  >
    {" " + label}
  </p>
  {data.map((item) => <SiteItem url={item} />)}
</div>
