---
import SiteItem from "./site-item.astro";

type Props = {
  label: string;
  data: string[];
};

const { label, data } = Astro.props;
---

<div
  id={label.replace(" ", "-")}
  class={`items-section flex flex-col gap-2 mr-3 ${"section-" + label.replace(" ", "-")}`}
>
  <h4
    class="text-xl border-b font-bold mr-4 bg-background h-fit py-3 px-4 md:top-18 top-28 z-30 shrink-0 sticky block w-full"
  >
    {" " + label}
  </h4>
  <div class="flex flex-col gap-2 p-1 px-3 md:px-4">
    {data.map((item) => <SiteItem url={item} />)}
  </div>
</div>
